

<ion-content class="ion-padding ion-text-center" color="primary">
  <img src="../../assets/logo.gif" class="logo" />

  <div class="title">
    <h1>Welcome to EMS APP</h1>
    <p> A One Stop Solution to Enterprise Management</p>
  </div>

  <div class="ion-margin-top login-signup-button">
    <ion-button class="ion-margin-top" expand="block" color="white"  fill="outline" (click)="signup()">SIGN UP</ion-button>
    <ion-button class="ion-margin-top" expand="block" color="white" (click)="login()" >LOGIN</ion-button>

  </div>

</ion-content>
