<ion-header> </ion-header>

<ion-content class="ion-padding">
  <app-loading-animation *ngIf="isLoading" ></app-loading-animation>
  <form *ngIf="!isLoading" [formGroup]="signupForm" (ngSubmit)="submitSignupForm()" novalidate>
    <h4>Sign Up</h4>
    <p>Register with EMS APP to get started!</p>

    <div class="ion-margin-top">
      <span
        class="error"
        *ngIf="this.signupForm.get('firstName').invalid && this.signupForm.get('firstName').dirty "
      >
        <ion-text color="danger">
          First Name should be more than 3 characters.</ion-text
        >
      </span>

      <ion-input
        [ngClass]="{
          'initial-input': !this.signupForm.get('firstName').dirty,
          'error-input':this.signupForm.get('firstName').invalid && this.signupForm.get('firstName').dirty,
          'correct-input':!this.signupForm.get('firstName').invalid && this.signupForm.get('firstName').dirty,
          'constant-input':true
        }"
        formControlName="firstName"
        required="true"
        placeholder="First Name: "
        type="text"
      ></ion-input>

      <span
        class="error"
        *ngIf="this.signupForm.get('lastName').invalid && this.signupForm.get('lastName').dirty "
      >
        <ion-text color="danger">
          Last Name should be more than 3 characters.</ion-text
        >
      </span>




      <ion-input
        [ngClass]="{
          'initial-input': !this.signupForm.get('lastName').dirty,
          'error-input':this.signupForm.get('lastName').invalid && this.signupForm.get('lastName').dirty,
          'correct-input':!this.signupForm.get('lastName').invalid && this.signupForm.get('lastName').dirty,
          'constant-input':true
        }"
        formControlName="lastName"
        required="true"
        placeholder="Last Name: "
        type="text"
      ></ion-input>

      <span
        class="error"
        *ngIf="this.signupForm.get('email').invalid && this.signupForm.get('email').dirty"
      >
        <ion-text color="danger">Please enter a valid email.</ion-text>
      </span>

      <ion-input
        [ngClass]="{
          'initial-input': !this.signupForm.get('email').dirty,
          'error-input':this.signupForm.get('email').invalid && this.signupForm.get('email').dirty,
          'correct-input':!this.signupForm.get('email').invalid && this.signupForm.get('email').dirty,
          'constant-input':true
        }"
        formControlName="email"
        required="true"
        placeholder="Email: "
        type="email"
      ></ion-input>

      <span
        class="error"
        *ngIf="this.signupForm.get('password').invalid && this.signupForm.get('password').dirty"
      >
        <ion-text color="danger"
          >Password should be minimum 8 characters and maximum 20 characters.</ion-text
        >
      </span>

      <ion-input
        [ngClass]="{
          'initial-input': !this.signupForm.get('password').dirty,
          'error-input':this.signupForm.get('password').invalid && this.signupForm.get('password').dirty,
          'correct-input':!this.signupForm.get('password').invalid && this.signupForm.get('password').dirty,
          'constant-input':true
        }"
        placeholder="Password: "
        type="password"
        formControlName="password"
        required="true"
      ></ion-input>

      <span
        class="error"
        *ngIf="this.signupForm.get('password').value !== this.signupForm.get('confirmPassword').value && this.signupForm.get('confirmPassword').dirty "
      >
        <ion-text color="danger">Passwords does not match.</ion-text>
      </span>
      <ion-input
       [ngClass]="{
          'initial-input':!this.signupForm.get('confirmPassword').dirty ,
          'constant-input':true,
          'confirmPass-correct':!this.signupForm.get('password').value !== this.signupForm.get('confirmPassword').value && this.signupForm.get('confirmPassword').dirty,
          'confirmPass-incorrect':this.signupForm.get('password').value !== this.signupForm.get('confirmPassword').value && this.signupForm.get('confirmPassword').dirty
        }"
        placeholder="Confirm Password: "
        type="password"
        formControlName="confirmPassword"
        required="true"
      ></ion-input>
    </div>

    <div class="ion-margin-top ion-text-start terms-conditions">
      <p>
        By signing up, you agree to our
        <ion-text color="danger"><a href="www.kingdavid.engineer">Terms & Conditions</a></ion-text>.
      </p>
    </div>

    <div class="ion-margin-top ion-text-center">
      <ion-button

      expand="block" type="submit">SIGN UP</ion-button>
    </div>

    <div class="ion-margin-top ion-text-center">
      <a (click)="dismiss()">Close</a>
    </div>
  </form>
</ion-content>
