.title {
  margin-bottom: 30px;
}


.title h4 {
  color: var(--ion-color-primary);
}

.title p {
  color:#999999;
  margin-top: 0 !important;
  font-size: small;
}


p {
  font-size: small;
  color: #999999;
}
