<ion-header> </ion-header>

<ion-content class="ion-padding">
  <h4>Sign Up</h4>
  <p>Register with EMS APP to get started!</p>

  <div class="ion-margin-top">
    <ion-input class="primary-input" placeholder="Username: "></ion-input>
    <ion-input
      class="primary-input"
      placeholder="Email: "
      type="email"
    ></ion-input>
    <ion-input
      class="primary-input"
      placeholder="Password: "
      type="password"
    ></ion-input>
    <ion-input
      class="primary-input"
      placeholder="Confirm Password: "
      type="password"
    ></ion-input>
  </div>

  <div class="ion-margin-top ion-text-start">
    <p>By signing up, you agree to our <ion-text color="danger">Terms & Conditions</ion-text>.</p>
  </div>

  <div class="ion-margin-top ion-text-center">
    <ion-button expand="block" (click)="signup()" >SIGN UP</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Close</a>
  </div>
</ion-content>
